{% extends 'base.html.twig' %}


{% block body %}

    <h2>Liste des tricks</h2>

    <ul>
        {% for trick in listTricks %}
            <li>
                {{ trick.name }} du groupe {{ trick.category.name }}
            </li>
        {% else %}
            <li>Pas (encore !) de trick</li>
        {% endfor %}
    </ul>
{% endblock %}