{% trans_default_domain 'FOSUserBundle' %}
<div class="container">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-lg-4 col-lg-offset-4">
        <div class="well">
            <legend>Nouveau mot de passe</legend>
            {{ form_start(form, { 'action': path('fos_user_resetting_reset', {'token': token}), 'attr': { 'class': 'fos_user_resetting_reset' } }) }}
            {{ form_widget(form) }}
            <div>
                <input type="submit" value="{{ 'resetting.reset.submit'|trans }}" />
            </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>
